/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {
display: flex;
margin 0px -5px;
}
.col {
flax: auto;
margin: 0px 5px;
}


/* Потом селекторы по классам */

.text-input {

}

.button {

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {


}


/* Страничка жанров и тегов */
.my-genre {
margin: 10px 0px;
padding: 5px 5px;
}

.genre-first {
background-color: aquamarine;
border-radius: 5px;
width: 100%;
}

.genre-second {
background-color: aqua;
border-radius: 5px;
width: 80%;
}

.genre-third {
background-color: antiquewhite;
border-radius: 5px;
width: 60%;
}

.genre-fourth {
background-color: orchid;
border-radius: 5px;
width: 40%;
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
